h1 {
    color: rgb(214, 135, 16);
    text-align: center;
}

body{
    background-image: url("images/Hytale_RPG_video_games_video_game_art-1757335.jpg!d.jpg");
    background-repeat: no-repeat;
}

table{
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    margin: auto;
}

table.stats {
    width: 50%;
    height: 10%;
    margin: auto;
}

.stats td, .stats th{
    border: none;
    background-color: black 0.5;
} 

td, th{
    font-family: monospace;
    border: medium solid rgb(0, 0, 0);
    color: rgb(124, 255, 141);
    background-color: rgba(104, 96, 96, 0.5);;
}

caption {
    font-size: 40px;
    color: rgb(214, 135, 16);
}

.fin{
    width: 40%;
    height: 10%;
}

.fin td, .fin th{
    border:none;
}

.Main{
    display: flex;
    align-items: center;
}

img{
    width: 300px;
    height: 400px;
}

.perso{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
}

label{
    color: white;
    font-family: monospace;
    font-size:16px;
}

input{
    margin-bottom:10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fight{
    color: grey;
}

.combat{
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.winner{
    height: 300px;
    width: 60%;
}

#winner{
    width: 30%;
    margin-top: 30px;
}